body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.card {
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#item-input {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
    background-color: rgb(96, 96, 211);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #003366;
}

#clear-list-btn {
    display: block;
    padding: 10px;
    background-color: rgb(82, 71, 185);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

#clear-list-btn:hover {
    background-color: #8057b6;
}

ul#shopping-list, ul#pending-items, ul#purchased-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

ul#shopping-list li, ul#pending-items li, ul#purchased-items li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #d4edda;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#shopping-list li:hover, ul#pending-items li:hover, ul#purchased-items li:hover {
    background-color: #f0f0f0;
}

ul#shopping-list li.purchased, ul#purchased-items li {
    text-decoration: line-through;
    background-color: #d3f9d8;
}

.purchase-btn {
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.purchase-btn:hover {
    background-color: #1e88e5;
}

#pending-items, #purchased-items {
    margin-top: 20px;
}
